/* @override http://0.0.0.0:4000/css/style.css */

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0 0 0 0px;
	margin: 0;
	background: #000;
}



h1 {
	font: 900 36px/48px Georgia, "Times New Roman", Times, serif;
	color: #d64336;
}
h2 {
	font:900  30px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	left: 1px;
}
h3 {
	font: 500 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
ul {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a:hover {
	color: #b23636;
}
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	border: 2px solid #fff;
	/*border-color: #d64336;*/
	background: #d64336;
	border-radius: 2px;	
	font: 100 14px/24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
	color: #fff;
	/*color: #d64336;*/
	
	background: #d64336;
	border-color: #d64336;
	color: #fff;
}
.button:hover,
.button:active {
	color: #fff;
	border-color: #d64336;
	background: #d64336;
	
	background: #b83125;
	border-color: #b83125;
}
.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	
}




.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}


	


/* @group HEADER */
body > header {
	position: absolute;
	z-index: 100000000;
	width: 100%;
	height: 60px;
	padding: 12px;
	text-align: center;
}
body > header > div {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}
body > header > div > a {
	position: absolute;
	left: 0px;
	top: 0px;
	font: 24px/36px Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	color: #fff;
	background: #;
}
body > header > div > a:hover {
	color: #fff;
}
body > header > div > a > img {
	height: 36px;
	vertical-align: middle;
}
body > header > div > a > span {
	vertical-align: middle;
}


/*
body > header > div > nav {
	text-align: right;
	padding: 0 12px 0 0;
}
body > header > div > nav > p  {
	display: none;
}
body > header > div > nav > a {
	position: relative;
	font: 200 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	margin: 0 0 0 18px;
	text-transform: capitalize;
}
body > header > div > nav > a:hover {
	color:#d64336;
}
body > header > div > nav > a.selected {
	border-bottom: 3px solid #d64336;
}*/
/* @end */



/* @group Nav */
nav {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	padding: 24px;
	background: -webkit-linear-gradient(15deg, #2d363c, #1e272f) rgba(0,0,0,.05);
	background: linear-gradient(-135deg, #2d363c 50%, #1e272f 100%) rgba(0,0,0,.05);
	text-align: center;
	/*box-shadow: 5px 0px 5px -5px rgba(0,0,0,.25), -1px 0 0 0 rgba(255,255,255,.05) inset;*/
	border-right: 1px solid rgba(0,0,0,.05);
	-webkit-transition: all .3s ease-in-out 0s;
	        transition: all .3s ease-in-out 0s;
}
nav > .menu-button {
	display: none;
	position: relative;
	left: 100%;
	top: -12px;
	width: 48px;
	height: 36px;
	margin: 0 0 0 36px;
	cursor: pointer;
}
nav > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 8px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
}
nav > header {
	margin: 0;
	padding: 24px 24px 48px 24px;
	border-bottom: 1px dotted rgba(0,0,0,.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,.05);
}

/* Header */
nav > header > a {
	display: inline-block;
	margin: 0;
	font: 100 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
}

nav > header > a > div {
	display: inline-block;
	font:900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0px;
}
nav > header > a > img {
	width: 96%;
	margin: 0 0 12px 0;
}



nav > ul {
	list-style: none;
	margin: 0;
	padding: 48px 0;
	/*text-align: left;*/
}
nav > ul > li {
	margin: 0 0 12px 0;
	padding: 0;
	color: #fff;
	border: 1px solid rgba(0,0,0,0);
}
nav > ul > li:hover {
	color: #00e697;;
}
nav > ul > li > a {
	display: block;
	/*margin: 0 0 12px 0;*/
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	letter-spacing: 1px;
}
nav > ul > li.selected > a {
	border: 1px solid #00e697;
	border-radius: 36px;
	color: #00e697;
}


nav > footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: 12px;
	background: rgba(255,255,255,.05);
}
nav > footer > p {
	color: rgba(255,255,255,.5);
	font: 100 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}
nav > footer > p > img {
	display: block;
	width: 175px;
	margin: 0 auto;
	vertical-align: middle;
}





/*  */




nav {
	position: fixed;
	z-index: 100000;
	left: -250px;
}
nav > .menu-button {
	position: relative;
	display: block;
}

nav.open {
	left: 0;
}
nav.open > .menu-button {
	
}
nav.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
}
nav.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
nav.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
nav.open + .content {
	opacity: .25;
	filter: alpha(opacity=25);
}
nav.open > .menu-button > span.three {
	opacity: 0;
	filter: alpha(opacity=0);
}



/* @end */








/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}
.content > div {
	/*height: 100%;*/
	min-height: 100%;
	/*max-width: 720px;*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.content section {
	max-width: 720px;
	margin: 0 auto;	
	padding: 48px 0;
}


/* @end */


/* @group BANNER */
.banner {
	position: relative;
	height: 100%;
	/*max-height: 720px;*/
	min-height: 320px;
	padding: 0px 0;
	background: #000;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}
.content .banner.half {
	height: 50%;
	background-image: radial-gradient(ellipse farthest-corner, #333 24%, black 100%) #000;
	background-attachment:scroll;
	background-size: contain;
	background-repeat: no-repeat;
	
	height: 50%;
	background-color: #000;
	background-image: radial-gradient(ellipse farthest-corner, #333 24%, black 100%) #000;
	background-attachment:scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	box-shadow: 0 75px 75px rgba(0,0,0,.75) inset;
}
.content .banner.half.blog-post {
	
}
.content .banner.half > hgroup > h1 {
	background: #000;
	float: left;
	padding: 12px 24px;
}

.banner > img {
	position: absolute;
	height: 100%;
}
.banner > img.left {
	left: 0;
	top: 0;
}
.banner > img.right {
	top: 0;
	right: 0;
}
/*.banner:before {
	display: none;
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0,0,0,.75) 100%);	
}*/
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}




/* @group HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > img {
	max-width: 350px;
	margin: 0 auto 0px auto;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font:400 36px/48px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h2 {
	/*margin: 24px 0;*/
	font: 100 18px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
.banner > hgroup > a > i {
	font-size: 18px;
	text-align: center!important;
	margin: 0px -18px 0 12px;
	padding: 8px;
	border-radius: 24px;
}




.banner > nav {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 24px;
}
.banner > nav > a {
	text-decoration: none;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(255,255,255,.5);
}
.banner > nav > a+a {
	margin: 0 0 0 12px;
}
.banner > nav > a:hover {
	color: #d64336;	
}


.banner > hgroup.video {
	
}
.banner > hgroup.video > h1 {
	position: relative;
	padding: 0 96px 0 0;
	
}

/* @end */



/* @group Video Controls */
/*hgroup.video {
	text-align: left;
}*/
/*.video-controls {
	display: inline-block;
	background: #d64336;
	padding: 0 72px 0 0;
	white-space: normal;
	cursor: pointer;
	-webkit-transition: padding .2s ease-out 0s;
}*/
/*.video-controls > h1 {
	position: relative;
	padding: 12px 24px;
	background: #000;
	display: block;
	color: #fff;
}*/
/*.video-controls > h1 > .video-play {
	/*position: relative;*!/
	position: absolute;
	top: 50%;
	left: 100%;
	width: 72px;
	height: 72px;
	margin: -36px 0 0 0;
	font: 900 48px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
	text-align: center;
	-webkit-transition: width .5s ease-in-out 0s;
	/*overflow: hidden;*!/
}*/
/*.video-controls > h1 > .video-play > .video-cta {
	display: block;
	font: 100 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: #fff;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: opacity .2s ease-out 0s;
}



.video-controls:hover{
	padding: 0 96px 0 0;
}
.video-controls:hover .video-play {
	width: 96px;
	-webkit-transition: width .5s ease-in-out 0s;
}
.video-controls:hover > h1 > .video-play > .video-cta {
	opacity: 1;
}*/


/* @end */
/* @end */

























/* @group Main Gallery */
.main-gallery {
	height: 84%;
	/*padding: 72px 0 0 0;*/
	min-height: 320px;
	background: #000;
}
.main-gallery.full {
	height: 100%;
}

.main-gallery .gallery-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat;
	background: #91d5d3;
	background: #fff;
	white-space: nowrap;
}
.main-gallery .gallery-cell.first-cell {
	
}
.main-gallery .gallery-cell:before {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0 -.25em 0 0;
	vertical-align: middle;
}
.main-gallery .gallery-cell > img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.main-gallery .gallery-cell > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 960px;
}
.main-gallery .gallery-cell > hgroup > h1 {
	color: #fff;
	margin: 0 0 24px 0;
	text-shadow: none;
	text-transform: capitalize;
}
/* position dots in gallery */
.main-gallery .flickity-page-dots {
  bottom: 48px;
}
/* white circles */
.main-gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.main-gallery .flickity-page-dots .dot.is-selected {
  background: white;
}


/* big buttons, no circle */
.main-gallery .flickity-prev-next-button {
  width: 48px;
  height: 48px;
  background: transparent;
}
.main-gallery .flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.main-gallery .flickity-prev-next-button .arrow {
  fill: white;
}
.main-gallery .flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.main-gallery .flickity-prev-next-button:disabled {
  display: none;
}



/* Hgroup */
.main-gallery .gallery-cell > hgroup {
	
}
.main-gallery .gallery-cell > hgroup > h1 {
	font: 700 30px/36px Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	letter-spacing: 2px;
}
.main-gallery .gallery-cell > hgroup > .logo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto 24px auto;
	background-size: cover;
	background-position: center;
	background-color: #ccc;
	border: 6px solid #fff;
	border-radius: 150px;
	overflow: hidden;
}
.main-gallery .gallery-cell > hgroup > .logo > img {
	width: 100%;
}
.main-gallery .gallery-cell > hgroup > .button {
	margin: 0;
}
/* @end */
































/* @group Overlay */
.overlay {
	position: fixed;
	z-index: 100000000000;
	width: 100%;
	height: 100%;
	left: 300%;
	top: 0;
	padding: 48px;
	background: rgba(0,0,0,.75);
	text-align: center;
	white-space: nowrap;
}
.overlay.visible {
	left: 0;
}
.overlay > .close-overlay {
	position: absolute;
	top: 12px;
	right: 12px;
	border: 2px solid #fff;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	font: 400 24px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
}
.overlay > .close-overlay:hover {
	background: #fff;
	color: #000;
}
.overlay > .close-overlay:active {
	background: #000;
	color: #fff;
}
.overlay > .video-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	vertical-align: middle;
}
.overlay:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	/*background: red;*/
	vertical-align: middle;
}
.overlay > .video-wrapper > iframe {
	/*top: 0;
	left: 0;
	width: 100%;*/
}
/* @end */






/* @group Trucks */

.trucks {
	background: #e5e5e5;
}
.trucks > h2 {
	
}
.trucks > ul {
	list-style: none;
}
.trucks > ul > li {
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.trucks > ul > li > a {
	display: block;
	position: relative;
	padding: 200px 0 0 0; 
	background-size: cover;
	text-decoration: none;
}
.trucks > ul > li > a > hgroup {
	padding: 12px;
	background: #fff;
}
.trucks > ul > li > a > hgroup > h3 {
	font: 700 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.trucks > ul > li > a > hgroup > h4 {
	font: 200 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.trucks > ul > li > a > hgroup > img {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 72px;
}
/* @end */







/* @group Video Control */
.video-controls {
	position: relative;
	display: block!important;
	width: 96px;
	height: 96px;
	margin: 0 auto!important;
	margin: 0 -.25em 0 0;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	width: 96px;
	height: 96px;
	height: 96px;
	font: 500 48px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	color: #fff;
	border: 5px solid #fff;
	border-radius: 96px;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play > .video-cta {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 24px auto 0 auto;
	font: 400 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,.5);
}
.video-controls > .video-play > i {
	display: inline-block;
	position: relative;
	left: 6px;
	/*top: -3px;*/
	/*background: #f16;*/
	height: 96px;
	line-height: 96px!important;
}
.video-controls > .video-play > .video-button-outline {
	position: absolute;
	box-sizing: content-box;
	border: 2px solid #fff;
	border-radius: 96px;
	-webkit-animation: pulse 1.5s ease-in-out infinite;
	        animation: pulse 1.5s ease-in-out infinite;
}
@-webkit-keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}



.video-controls:hover > .video-play {
	/*width: 120px;
	height: 120px;*/
	background: #fff;
	color: #000;
	/*font: 900 84px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}
.video-controls:active > .video-play {
	background: #000;
	color: #fff;
}


/* @end */






/* @group Makes */

.makes {
	
}
.makes > a {
	display: inline-block;
	width: 100px;
}
.makes > a > img {
	width: 100%;
}

/* @end */





/* @group Make Logo */
.make-logo {
	position: relative;
	top: -30px;
	text-align: center;
}
.make-logo > img {
	max-height: 60px;
}

/* @end */






/* @group Mileage */
.mileage {
	text-align: center;
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.mileage:after {
	display: block;
	content: '\00a0';
	height: 10px;
	border: 1px solid #ccc;
	border-bottom: none;
}
.mileage > p {
	margin: 0 0 48px 0;
	/*display: inline-block;*/
}
/* @end */

/* @group Breakdown */

.breakdown {
	
}

.breakdown > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.breakdown > ul > h3 {
	text-align: center;
	margin: 84px 0 36px 0;
}
.breakdown > ul > h3:after {
	content: '\00a0';
	display: block;
	height: 10px;
	border: 1px solid #ccc;
	border-bottom: none;
}

.breakdown > ul > li {
	position: relative;
	margin: 0 0 48px;
	white-space: nowrap;
}
.breakdown > ul > li > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.breakdown > ul > li > hgroup > h3 {
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: normal;
}
.breakdown > ul > li > hgroup > p {
	white-space: normal;
	font: 200 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.breakdown > ul > li > a {
	
}
.breakdown > ul > li > a > img {
	display: inline-block;
	width: 36%;
	max-height: 100%;
	margin: 0 4% 0 0;
	vertical-align: middle;
}






/*.breakdown > ul > li {
	padding: 0!important;
}
.breakdown > ul > li > img {
	position: relative;
	left: auto;
	right: auto;
	max-width: 100%;
	width: 100%;
	height: 48px;
}*/

/* @end */
















@media all and (max-width: 1080px) {

.content .banner.half.blog-post{
	
}




.content section {
	padding: 36px;
}

}

@media all and (max-width: 720px) {

}


@media all and (max-width: 540px) {
.banner > hgroup {
	padding: 96px 24px;
	text-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.banner > hgroup > img {
	max-width: 320px;
	margin: 0 0 24px 0;
}
.banner > hgroup > h1 {
	margin: 0 0 0px 0;
	font-size: 24px;
	line-height: 30px;
}






}





