<footer class="footer">
	<div>
		<a href="/"><img src="/images/logos/logo.png" alt="Custom Cut Shirts Logo" class="footer-logo"/><span>{{ site.name }}</span></a>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<section class="social">
			<a href="#"><span class="fa fa-facebook-official"></span></a>
			<a href="#"><span class="fa fa-instagram"></span></a>
			<a href="#"><span class="fa fa-pinterest"></span></a>
			<a href="#"><span class="fa fa-twitter"></span></a>
		</section>
		
		{% include nav.html %}
		
		<p><span>(435) 212-3705</span>
		<span>kevin@customcutshirts.com</span></p>
		<p>© Copyright {{ 'now' | date: "%Y" }}. {{ site.name }}. All Rights Reserved.</p>
	</div>
</footer>