---
layout: default
---

<div class="banner" style="background-image: url('{{ page.banner_path }}'); height: 84%;">
	<hgroup>
		<img src="{{ page.logo_path }}" alt="" />
	</hgroup>
</div>

<div  style="background-color: #e5e5e5;">
	<!--<section>
		<h1>{{ page.title }}</h1>
	</section>-->
	<!--<section>
	{% for model in site.models %}
		{% if model.make == page.title %}
		<a href="{{ model.url }}">{{ model.title }}</a>
		{% endif %}
	{% endfor %}
	</section>-->
	<section class="trucks">
		<!--<h2>Used Semi Trucks For Sale</h2>-->
		<ul>
		{% for truck in site.trucks %}
		{% if truck.make == page.title %}
			{% for item in truck.gallery %}
				{% if forloop.first %}
					{% capture primaryimage %}{{ item.image_path }}{% endcapture %}
				{% endif %}
			{% endfor %}
			
			{% for item in site.makes %}
				{% if truck.make == item.title %}
					{% capture makelogo %}{{ item.logo_path }}{% endcapture %}
				{% endif %}
			{% endfor %}
			
			<li>
				<a href="{{ truck.url }}" style="background-image: url('{{ primaryimage }}');">
					<hgroup>
						<h3>{{ truck.title }}</h3>
						<h4><i class="fa fa-tachometer" aria-hidden="true"></i> {{ truck.mileage }} Miles</h4>
						<img src="{{ makelogo }}" alt="" />
						{% if truck.sold == true %}
						<span class="sold">Sold</span>
						{% endif %}
					</hgroup>
				</a>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</section>
</div>